label.sliderLabel {
    min-width: 5em;
    display:inline-block;
}

.slider {
    width: 50em;
}
#canvas {
    xxwidth: 600px; 
    xxheight:500px;
    display: inline-block;
    border: 1px solid grey;
}

#controls {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
