label.sliderLabel {
    min-width: 5em;
    display:inline-block;
}

.slider {
    width: 50em;
}
#canvas {
    display: inline-block;
    border: 1px solid grey;
}

#controls {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-left: 2em;
}

#thumbnails {
    display: block;
    padding-top: 2em;
}

#thumbnails img {
    width: 80px;
}

#thumbnails img:hover {
    border:5px solid #2b3341;
    border-radius: 5px;
}

#currentSettings {
    display: inline-block;
    padding-top: 2em;
}

#setEditLabel {
    vertical-align: top;
}

#recodedSet {
    display: block;
    background-color: rgb(236, 231, 222);
    padding-top: 3em;
}

.recordedCode:hover {
   text-decoration: underline;
   font-weight: 800;
}

button {
    margin-right: 2em;
}